.myNavLink{
    text-decoration: none;
    color: lightgreen;
    margin: 20px;
    font-family: 'Space Mono', monospace;
}

.myNavLink:hover{
    text-decoration: underline;
}

header{
    background-color: black;
    margin: 0px;
    padding: 15px;
    border-bottom: 5px solig lightgreen;
    font-family: 'Space Mono', monospace;
}